/* NAVEGACION (navegacion.scss) */
//!Metelo
@import "_colors.scss";

$width-nav: 220px;
$desf-selec: 20px;

nav {
  background-color: $color-secundario;
  width: $width-nav;
  height: 800px;
  display: inline-block;
  box-sizing: border-box;

  h4 {
    background-color: #000;
    padding: 22px 0px 0px 20px;
    color: #FFF;
    height: 36px;
  }

  ul {
    margin: 0 auto;
    box-sizing: border-box;
    @for $i from 1 through 12 {
        li:nth-child(#{$i}):before {
          content: '#{$i}.- ';
        }
    }

    li {
      display: inline-block;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
      a:hover {
        font-width: 900;
      }
      &.seleccionado {
        width: $width-nav + $desf-selec;
        height: 50px;
        background-color: $color-primario;
        color: white;
        @include box-shadow(black 2px 2px 5px);
      }
    }
  }
}
