/* CABECERA (cabecera.scss)*/
/* line 5, ../sass/cabecera.scss */
header {
  width: 100%;
  background-color: red;
  height: 100px;
  -webkit-box-shadow: black 2px 2px 5px;
  -moz-box-shadow: black 2px 2px 5px;
  box-shadow: black 2px 2px 5px;
  text-align: left;
}
/* line 12, ../sass/cabecera.scss */
header #logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px solid white;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 32px;
}
/* line 24, ../sass/cabecera.scss */
header img {
  width: 145px;
  height: 80px;
  position: relative;
  left: -27px;
}
/* line 31, ../sass/cabecera.scss */
header h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: relative;
  bottom: 33px;
}
/* line 39, ../sass/cabecera.scss */
header h1 a {
  text-decoration: none;
  color: white;
}
/* line 42, ../sass/cabecera.scss */
header h1 a:hover {
  text-decoration: underline;
  font-weight: 900;
}
