/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* GENERAL */
/* line 11, ../sass/screen.scss */
body {
  font-family: Helvetica;
  font-size: 16px;
}

/* line 18, ../sass/screen.scss */
a {
  color: black;
  text-decoration: none;
}
/* line 21, ../sass/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 26, ../sass/screen.scss */
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* line 34, ../sass/screen.scss */
section {
  display: flex-item;
  max-width: 960px;
  display: inline-block;
  line-height: 2;
  outline: 1px solid green;
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 200px;
  min-height: 900px;
}
/* line 47, ../sass/screen.scss */
section h3 {
  font: 30px;
  font-weight: 900;
  font-color: red;
}
/* line 54, ../sass/screen.scss */
section p {
  margin-top: 30px;
}
/* line 58, ../sass/screen.scss */
section ul {
  margin: 0 40px;
  list-style: outside square none;
}

/* CABECERA (cabecera.scss)*/
/* line 5, ../sass/cabecera.scss */
header {
  width: 100%;
  background-color: red;
  height: 100px;
  -webkit-box-shadow: black 2px 2px 5px;
  -moz-box-shadow: black 2px 2px 5px;
  box-shadow: black 2px 2px 5px;
  text-align: left;
}
/* line 12, ../sass/cabecera.scss */
header #logo {
  display: inline-block;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px solid white;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
  margin-top: 7px;
  margin-left: 20px;
  margin-right: 32px;
}
/* line 24, ../sass/cabecera.scss */
header img {
  width: 145px;
  height: 80px;
  position: relative;
  left: -27px;
}
/* line 31, ../sass/cabecera.scss */
header h1 {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: relative;
  bottom: 33px;
}
/* line 39, ../sass/cabecera.scss */
header h1 a {
  text-decoration: none;
  color: white;
}
/* line 42, ../sass/cabecera.scss */
header h1 a:hover {
  text-decoration: underline;
  font-weight: 900;
}

/* NAVEGACION (navegacion.scss) */
/* line 8, ../sass/navegacion.scss */
nav {
  background-color: #ffeaea;
  width: 220px;
  height: 800px;
  display: inline-block;
  box-sizing: border-box;
}
/* line 15, ../sass/navegacion.scss */
nav h4 {
  background-color: #000;
  padding: 22px 0px 0px 20px;
  color: #FFF;
  height: 36px;
}
/* line 22, ../sass/navegacion.scss */
nav ul {
  margin: 0 auto;
  box-sizing: border-box;
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(1):before {
  content: "1.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(2):before {
  content: "2.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(3):before {
  content: "3.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(4):before {
  content: "4.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(5):before {
  content: "5.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(6):before {
  content: "6.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(7):before {
  content: "7.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(8):before {
  content: "8.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(9):before {
  content: "9.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(10):before {
  content: "10.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(11):before {
  content: "11.- ";
}
/* line 26, ../sass/navegacion.scss */
nav ul li:nth-child(12):before {
  content: "12.- ";
}
/* line 31, ../sass/navegacion.scss */
nav ul li {
  display: inline-block;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
/* line 36, ../sass/navegacion.scss */
nav ul li a:hover {
  font-width: 900;
}
/* line 39, ../sass/navegacion.scss */
nav ul li.seleccionado {
  width: 240px;
  height: 50px;
  background-color: red;
  color: white;
  -webkit-box-shadow: black 2px 2px 5px;
  -moz-box-shadow: black 2px 2px 5px;
  box-shadow: black 2px 2px 5px;
}

/* FOOTER (footer.scss) */
/* line 3, ../sass/footer.scss */
footer {
  width: 100%;
  background-color: black;
  height: 200px;
}
/* line 10, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer html, footer body {
  height: 100%;
}
/* line 12, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #root #root_footer {
  height: 54px;
}
/* line 20, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer #footer {
  clear: both;
  position: relative;
  height: 54px;
}
/* line 8, ../sass/footer.scss */
footer p, footer a, footer span {
  color: white;
}
